@import "tailwindcss";

body{
  background-color: #e6ded7;
  font-family: monospace; 
  overflow-x: hidden;
}

/* For Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
  height: 6px; /* For horizontal scrollbar */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #1e1e1e; /* Dark background */
  border-radius: 10px;
}

/* Scrollbar handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* Gray color */
  border-radius: 10px;
  transition: background 0.3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker gray on hover */
}
